body,html {
  height: 100vh;
  margin: 0;
  padding: 0;
  /* color: white;
  background-color: black; */
  /* background: url("../public/background.jpg") no-repeat center center ;
   background-size:cover; */
  /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
     background-size: cover; */
}
